<div class="form-group">
    <label for="github-search">Rechercher une race de chat:</label>
    <input
      #input
      id="github-search"
      type="text"
      class="form-control"
      placeholder="Race de chat"
      (keypress)="getSearchedProduct()"
      [(ngModel)]="search"
    />
  
    <!-- <div class="invalid-feedback" *ngIf="searchFailed">
      Sorry, suggestions could not be loaded.
    </div> -->
  </div>
  
  <hr />
  
  <ul class="list-unstyled">
    <li class="media" *ngFor="let catalogue of catalogue">
      <!-- <img [src]="user.avatar_url" class="mr-3" alt="user.login" /> -->
      <div class="media-body">
        <h5 class="mt-0 mb-1">{{ catalogue.race }}</h5>
      </div>
    </li>
  </ul>
  