<ul class="nav navbar-nav">
    <li class="menu-li">
        <a (click)="goToHome()">Accueil</a>
    </li>
    <li class="menu-li">
        <a (click)="goToProduct()">Nos chats</a>
    </li >
    <li class="menu-li">
        <a (click)="searchGitUser()">Recherche</a>
    </li>
    <li class="menu-li">
        <a (click)="goToCart()">Mon panier ({{productCount$ | async}})</a>
    </li>
    <li class="menu-li">
        <a (click)="goToFormAccount()">S'inscrire</a>
    </li>
    <li class="menu-li">
        <a (click)="signOut()">Se déconnecter</a>
    </li>
</ul>
<router-outlet> </router-outlet>