<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
    <h3 class="h3">Votre panier contient {{productCount$ | async}} article(s) </h3>
    <div *ngIf="(products$ | async)?.length == 0">
      <p>Le panier est vide</p>
      <i class="fa fa-shopping-cart text-muted" (click)="catalog()"> Cat'Shop</i>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let product of products$ | async; index as i">
            <div class="product-grid2">
                <div class="product-image2" style = "height: 210px;">

                    <a href="#">
                        <img class="pic-1" src={{product.image}}>
                        <img class="pic-2" src={{product.image2}}>
                    </a>
                    <ul class="social">
                        <li><button style = "border:0;" data-tip="Details" (click)="detailsProduct(product)" ><i class="fa fa-eye"></i></button> </li>
                    </ul>
                    <button class="add-to-cart" (click)="removeProduitFromPanier(i)">Supprimer du panier</button>
                </div>
                <div class="product-content">
                    <h3 class="title">{{product.race}}</h3>
                    <span class="price">{{product.prix}} €</span>
                </div>
            </div>
        </div>
    </div>
</div>
